<div class="gallery_block_title">
  <span class="gallery_name">Категорії</span>
</div>
<ul class="gallery_menu">
  <a href="gallery/metrics" id="metrics" class="gallery_menu_items" name="Метрики">
    <li>
      <i class="item_icon fas fa-clipboard-list"></i>
      <span class="item_title">Метрики</span>
    </li>
  </a>
  <a href="gallery/frames" id="frames" class="gallery_menu_items" name="Фоторамки">
    <li>
      <i class="item_icon fas fa-image"></i>
      <span class="item_title">Фоторамки</span>
    </li>
  </a>
  <a href="gallery/toys" id="toys" class="gallery_menu_items" name="Іграшки">
    <li>
      <i class="item_icon fab fa-avianex"></i>
      <span class="item_title">Іграшки</span>
    </li>
  </a>
  <a href="gallery/weding" id="weding" class="gallery_menu_items" name="Весільний декор">
    <li>
      <i class="item_icon fab fa-slideshare"></i>
      <span class="item_title">Весільний декор</span>
    </li>
  </a>
  <a href="gallery/letters" id="letters" class="gallery_menu_items" name="Букви">
    <li>
      <i class="item_icon fab fa-sass"></i>
      <span class="item_title">Слова, букви</span>
    </li>
  </a>
  <a href="gallery/other" id="other" class="gallery_menu_items" name="Різне">
    <li>
      <i class="item_icon fas fa-puzzle-piece"></i>
      <span class="item_title">Різне</span>
    </li>
  </a>
</ul>
