<header>
  <div class="header zig-zag-bottom1" >
    <div class="content_wraper">
      <div class="social">
        <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square"></i></a>
        <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.pinterest.com/" target="_blank"><i class="fab fa-pinterest-square"></i></a>
      </div>
      <div class="logo">
        <img itemprop="logo" src="../../../assets/logo.png" alt="arbor">
        <div id="home" class="brand">
          <span class="brand_name" itemprop="name">Arbor</span>
          <span class="brand_desc" itemprop="description">вироби з дерева</span>
        </div>
      </div>
      <div class="menu">
        <a routerLink="./" fragment="home"><span class="menu_icon home">Головна</span></a>
        <a routerLink="./" fragment="services"><span class="menu_icon briefcase">Послуги</span></a>
        <a routerLink="./" fragment="gallery"><span class="menu_icon image">Галерея</span></a>
        <a routerLink="./" fragment="sending"><span class="menu_icon truck">Доставка</span></a>
        <a routerLink="./" fragment="payment"><span class="menu_icon credit-card">Оплата</span></a>
        <a routerLink="./" fragment="contacts"><span class="menu_icon contact_us">Контакти</span></a>
      </div>
    </div>
  </div>
</header>
