<main>
  <div class="content_wraper">
    <app-slider></app-slider>
    <div class="main_content zigzag-inside">
      <div class="category" id="services">
        <div class="ribbon_stripe" >
          <div class="ribbon red_bg">
            <div><span>Послуги</span></div>
          </div>
        </div>

        <div class="category_content">
          <div class="service_item">
            <div class="thumb_block">
              <div class="thumb draw_sketch"></div>
            </div>
            <div class="desc_block">
            <span class="service_name">Створення ескізів</span>
            <span class="services_desc">Якщо у вас немає ескізу, ми з радістю безкоштовно зробимо його для Вас</span>
            </div>
          </div>

          <div class="service_item">
            <div class="thumb_block">
              <div class="thumb by_sketch"></div>
            </div>
            <div class="desc_block">
            <span class="service_name">Виготовлення по ваших ескізах</span>
            <span class="services_desc">У Вас є готовий ескіз? Ми реалізуємо його у готовий виріб</span>
            </div>
          </div>

          <div class="service_item">
            <div class="thumb_block">
              <div class="thumb engraving"></div>
            </div>
            <div class="desc_block">
            <span class="service_name">Гравіювання</span>
            <span class="services_desc">Гравіювання на дереві, фанері, шкірі, шпоні, МДФ, ДВП, пластику та багато іншого. Не метали.</span>
            </div>
          </div>

          <div class="service_item">
            <div class="thumb_block">
              <div class="thumb coloring"></div>
            </div>
            <div class="desc_block">
            <span class="service_name">Фарбування</span>
            <span class="services_desc">Якісне покриття готових виробів лаком, акриловою фарбою, байцом тощо.</span>
            </div>
          </div>
        </div>
      </div>

      <div class="category" id="gallery">
        <div class="ribbon_stripe" >
          <div class="ribbon softgreen_bg">
            <div><span>Галерея</span></div>
          </div>
        </div>
        <div class="category_content"></div>
      </div>



      <div class="category" id="sending_payment">
        <div class="category_content">
          <div class="ribbon_stripe" id="sending">
            <div class="ribbon brown_bg">
              <div><span>Доставка</span></div>
            </div>
          </div>
          <div class="methods_wrap">
            <div class="methods">
              <div class="methods_logo novaposhta"></div>
              <span>Доставка у відділення "Нової пошти"</span>
              <span>За допомогою доставки "Нова пошта" Ви зможете отримати товар у будь-якому куточку України.</span>
            </div>
            <div class="methods">
              <div class="methods_logo ukrposhta"></div>
              <span>Державна пошта України</span>
              <span>Якісні поштові послуги, доставка листів та посилок.</span>
            </div>
          </div>
          <div class="ribbon_stripe" id="payment">
            <div class="ribbon blue_bg">
              <div><span>Оплата</span></div>
            </div>
          </div>
          <div class="methods_wrap">
            <div class="methods">
              <div class="methods_logo cash"></div>
              <span>Аванс у розмірі 10% від вартості на карточку Приват </span>
              <span>Оплата готівкою при зустрічі у м. Івано-Франківськ.</span>
            </div>
            <div class="methods">
              <div class="methods_logo visa"></div>
              <span>Аванс у розмірі 30% від вартості на карточку Приват</span>
              <span>Інші 70% вартості відправляєте наложеним платежем, або перераховуєте на картку. </span>
            </div>
          </div>
        </div>
      </div>

      <div class="category" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <div class="ribbon_stripe" id="contacts">
          <div class="ribbon green_bg"><div><span>Контакти</span></div></div>
        </div>
        <div class="category_content">
          <div class="contacts_block">
            <div class="contacts" itemprop="telephone">
              <a title="Viber" class="phone" href="viber://add?number=+380502218588" >(050) 221-85-88
                <i class="viber fab fa-viber"></i>
              </a>
              <a title="Зателефонувати" class="phone" href="tel:+380502218588">(096) 934-99-81</a>
            </div>
            <div class="contacts social">
              <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square blue_font"></i></a>
              <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram pink_font"></i></a>
              <a href="https://www.pinterest.com/" target="_blank"><i class="fab fa-pinterest-square red_font"></i></a>
             </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
