<app-categories class="gallery_block_menu"></app-categories>
<div class="gallery_block_photos">
  <div class="gallery_block_title">
    <span class="gallery_name">Метрики</span>
  </div>
  <div class="gallery_photos">
    <div class="gallery_slider">
      <a href="https://picsum.photos/id/439/200/200">
        <div class="thumb_block">
          <img class="thumb" src="https://picsum.photos/id/439/200/200" alt="gallery image">
        </div>
      </a>
      <a href="https://picsum.photos/id/439/200/200">
        <div class="thumb_block">
          <img class="thumb" src="https://picsum.photos/id/439/200/200" alt="gallery image">
        </div>
      </a>
    </div>
    <div id="button" class="button olive_bg">Замовити</div>
  </div>
</div>
